# ENTERPRISE CONFIGS
ENTERPRISE_NAME=name
ENTERPRISE_ADDRESS=address
ENTERPRISE_TEL=telephone
ENTERPRISE_EMAIL=email
ENTERPRISE_WEBSITE=website
ENTERPRISE_NIF=nif
ENTERPRISE_FISCAL_YEAR=ANO-FISCAL
ENTERPRISE_CORRENCYCODE=USD OU OUTRO

# DATABASE CONFIGS
DB_USER=user
DB_PASSWORD=pass
DB_DATABASE=db
DB_DIALECT=dialect

# JWT CONFIGS
JWT_KEY=kdkdjkey

# APP ORIGIN URL
APP_URL=http://url.example.com